@import "tailwindcss";

:root {
  font-family: 'Courier New', 'Monaco', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #333333;
  /* background-color: #f8f8f8; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  /* background: #f8f8f8; */
  overflow: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.sheet-scroll-area {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sheet-scroll-area::-webkit-scrollbar {
  display: none;
}
